<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>BARC-CO • Registro de Envío</title>
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>
    
    <main>
        <form class="formregistroenvio" action="{{ url_for('envios.registroenvio') }}" method="POST">
            <h1 id="hregistroenvio">Registro de Envío</h1>
            <p id="pregistroenvio">Complete los siguientes datos del envío</p>

            
            <div id="form-gridenvio">
                <div class="campoenvio">
                    <label for="descripcion">Descripción del Envío:</label>
                    <textarea name="descripcion" id="descripcion" placeholder="Ingrese la descripción del envío..." required></textarea>
                </div>
                
                <div class="campoenvio">
                    <label for="estado">Estado:</label>
                    <select name="estado" id="estado" required>
                        <option value="">Seleccionar estado</option>
                        <option value="Pendiente">Pendiente</option>
                        <option value="En proceso">En proceso</option>
                        <option value="Entregado">Entregado</option>
                        <option value="Cancelado">Cancelado</option>
                    </select>
                </div>
                
                <div class="campoenvio">
                    <label for="origen">Puerto de Origen:</label>
                    <input type="text" name="origen" id="origen" placeholder="Ej: Puerto de Buenos Aires" required />
                </div>
                
                <div class="campoenvio">
                    <label for="destino">Puerto de Destino:</label>
                    <input type="text" name="destino" id="destino" placeholder="Ej: Puerto de Montevideo" required />
                </div>
                
                <div class="campoenvio">
                    <label for="fk_barco">Número de Barco:</label>
                    <input type="number" name="fk_barco" id="fk_barco" placeholder="Ej: 12345" required/>
                </div>
                
                <div>
                    <button type="submit" class="botonregistrar">Registrar Envío</button>
                </div>
            </div>
            <div class="volver">
                <a href="{{ url_for('main.profile') }}" id="botonvolver">⟵ Volver al panel</a>
            </div>
        </form>
    </main>

    <footer>
        {% include 'footer.html' %}
    </footer>
</body>
</html>