    <footer class="footer">
      <div class="contenido-footer">
            <div class="links-footer">
              <ul>
                <li><a href="{{ url_for('main.index') }}#home">Home</a></li>
                <li><a href="{{ url_for('main.index') }}#aboutus">About Us</a></li>
                <li><a href="{{ url_for('main.index') }}#servicios">Servicios</a></li>
                <li><a href="{{ url_for('auth.login_get') }}">Login</a></li>
              </ul>
            </div>
             <img src="../static/img/logobar.png" alt="" width="90" height="90">
            <div class="redes-footer">
              <p>Visitá nuestras redes</p>
              <a href=""><img src="../static/img/instagram.png" alt=""></a>
              <a href=""><img src="../static/img/linkedin.png" alt=""></a>
              <a href=""><img src="../static/img/whatsapp.png" alt=""></a>
            </div>
      </div>
          <div class="derechos-footer">
            <p>© 2025 Puerto Barc-Co. Todos los derechos reservados.</p>
          </div>
    </footer>