<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>BARC-CO • Registro</title>
  </head>
  <body>
    <header>    {% include 'header.html' %}
</header>
<main>
  <form class="formlog2" action="{{ url_for('main.submit') }}" method="POST">
    <h1 id="hregistro">Registrarse</h1>
    <div class="form-grid">
      <div class="campo">
        <label>Nombre:</label>
        <input type="text" name="name" placeholder="Juan" required />
      </div>
      <div class="campo">
        <label>Apellido:</label>
        <input type="text" name="last_name" placeholder="Rodriguez" required/>
      </div>
      <div class="campo">
        <label>Fecha de nacimiento:</label>
        <input type="date" name="birth_date" required />
      </div>
      <div class="campo">
        <label>Dirección:</label>
        <input type="text" name="address" required placeholder="Corrientes 1234"/>
      </div>
      <div class="campo">
        <label>Teléfono:</label>
        <input type="tel" name="telephone" required placeholder="Ej: 1123456789"/>
      </div>
      <div class="campo">
        <label>Email:</label>
        <input type="email" name="email" placeholder="Ej: nico@gmail.com" required/>
      </div>
      <div class="campo">
        <label>Contraseña:</label>
        <input type="password" name="password" placeholder="" required/>
      </div>
      <div class="campo">
        <label>Tipo de usuario:</label>
        <select name="type_user" class="select" required>
          <option value="" selected disabled hidden>Elegí un Opción</option>
          <option value="Cliente">Cliente</option>
          <option value="Gerente">Gerente</option>
          <option value="Encargado de Barcos">Encargado de Barcos</option>
          <option value="Encargado de Enviós">Encargado de Enviós</option>
        </select>
      </div>
      <div class="campo">
        <button type="submit">Registrarme</button>
      </div>
    </div>
    <br>
        <p>O también podes: </p>
        <a href="{{ url_for('auth.login_google') }}" class="boton-google">
          <img src="../static/img/google.png" alt="Google" width="24" height="24"> Registrarte con Google
        </a>
  </form>
</main>

    <footer>
      {% include 'footer.html' %}
    </footer>
  </body>
</html>
