<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <title>BARC-CO - Perfil</title>
</head>
<body>
      <header>
    {% include 'header.html' %}
  </header>
  <section class="sectionlogin">
    <h1 id="h1profile1">Bienvenido {{ current_user.username }}, seleccioná la opción deseada: </h1>


  </section>


    </body>
</html>